*{
    margin: 0em;
    padding: 0em;
}



.header1{
    display: flex;
    background-color:rgb(14, 197, 197);
    height: 2em;
    color: white;
    
}
.left{
 padding-left: 4em;
 padding-top: 0.10em;
}
.right1{
    padding-left: 30em;
    padding-top: 0.5em;
}
.right2{
    padding-left: 1.5em;
    padding-top: 0.5em;
}
.right3{
    padding-left: 1.5em;
    padding-top: 0.5em;
}
.icon a{
    color: white;
    text-decoration: none;
    padding: 0.5em;
   
}
.list li{
list-style: none;
display: inline;
padding-left: 5em;
padding-top: 2em;


}

.header2{
    display: flex;
    padding-inline-start: 0em;
}
.logo img{
    display: inline;
    height: 6em;
}
.button{
    margin-left: 15em;
    block-size: 2em;
    margin-block-start: 2em;
    color:white;
    background-color: rgb(14, 197, 197);
   border-color: #ffffff00;
}
.list{
    padding-top: 2em;
}
.header3{
    background: rgb(0,0,0,0.7) url(/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
 color: white;   
}
.header3 h1{
    padding-left: 8em;
    padding-top: 5em;
}
.header3 p{
    padding-left: 12em;
    padding-top: 2em;
    padding-right: 15em;
}
div.button2{
    padding-left: 12em;
    padding-top: 2em;
    padding-bottom: 8em;
}
#btp1{
    color: white;
    background-color: transparent; 
    border-color: white;
    font-size: 0.75em;
}
#btp2{
    color: white;
    background-color: transparent;
  margin-left: 1em;
  border-color: white;
  font-size: 0.75em;
}
h1#cause{
    color: rgb(14, 197, 197);
    padding-left: .5em;
}
.header4 span{
    display: flex;
    padding-left: 35em;
}
.header4 div{
    padding-top: 2em;
    padding-left: 1em;
}
.imgp{
    display: flex;
    list-style: none;
}
#ourcharity{
    padding-left: 30em;
    padding-top: 4em;
}
.lorem{
    padding-top: 2em;
}
.buttondonate{
    display: flex;
}
.leftb{
    display: inline-block;
    position: absolute;
    left: 1.5em;
  
  
}
.midb{
    display: block;
    margin-left: 28em;
}

.rightb{
   display: inline-block;
   position: absolute;
   left: 10em;
}
